
/*
Colors - 
    Primary #d3d3d3
    Secondary #aaa9a9

*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}

#header-title {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    
}

.pokemon-list {
    display: block;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /*darkens the backgrounds opacity */
    z-index: 999; /* this shows above other content */
    overflow: auto; /* allows for backgrond scrolling if not high enough */
    display: grid; 
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    border-radius: 6px; /* rounded corners */
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
}

.modal h1 {
    margin-top: 0;
}
  
.modal p {
    margin-bottom: 0;
}

.modal img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.button {
    background-color: #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #90ee90;
    border-color: #59e959;
    border: solid 5px #59e959;
}

@supports (display: grid) {
    .listItem {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: auto;
        height: 80px;
        width: 33%;
        padding: 10px;
        margin: auto;
        
    }
    
    @media all and (max-width: 750px) {
        .listItem {
            width: auto;
            min-height: auto;
        }
    }
    
}
